body{
    font-family: Calibri;
    background-color: whitesmoke;
    height:100%;
}

footer{
    padding: 5px;
    text-align: center;
    margin-bottom : 0%;
    width : 99%;
    background-color: #a1cbe6;
    margin-top: 5%;
}
.Icon{
    height: 6em;
    width: 6em;
    margin-left : 0px;
    border-radius: 10%;
}
header{
    background: #a1cbe6;
    display: flex;
    top : 0px;
    justify-content: space-between ;
    align-items : center;
    z-index: 999;
}

#back {
    right: 10px;
    position: absolute;

}


ul img {
    opacity:0;
    width:600px;
    margin:auto;
    -moz-transition:opacity 1s ease-in-out;
    -webkit-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


.button2{
    margin-right:10px;
    background: #a1cbe6 ;
    color : black;
    font-size: 50px;
    cursor : pointer;
    opacity: 1;
    font-size: 25px;
    padding: 10px;
    border: solid black 1px;
}




.menu {
    position: absolute;
    top: 150px;
    left: 8px;
    right: 0px;
    width: 98.9%;
    height: 50px;
    background: #a1cbe6;
    z-index: -1;
}




.name {
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.98);
    cursor: default;
}

.members {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: "Lato";
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
    word-spacing: 2px;
}


.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 15px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}


.chat .notification time {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    padding: 8px;
    border-radius: 100px;
    background: #252c33;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.02),
    inset 0px 0px 1px rgba(27, 35, 42, 0.1);
    height: 1px;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.1);
}

.other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #c1cbcd;
}


.msg {
    background: #eef8ff;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    word-break: break-all;
}
.msg .user {
    font-size: 14px;
    margin: 0 0 2px 0;
    color: #666;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}
.msg .user .range.admin {
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: #6aea96;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #6aea96;
    background: rgba(255, 255, 255, 0);
    margin-left: 5px;
}
.msg p {
    font-size: 13px;
    margin: 0 0 2px 0;
    color: #777;
    transition: all 0.2s ease;
}

.msg time {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.35);
    margin-top: 3px;
    float: right;
    cursor: default;

}
.msg time:before {
    content: "\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}


textarea {
    width: 80%;
    height: 50px;
    z-index: 100;
    border: none;
    outline: none;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    color: #666;
    resize: none;
    z-index: 200;
    position: absolute;
    margin-bottom: 26%;
}


.send {
    width: 8%;
    height: 50px;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    margin-left: 90%;
    margin-bottom: 26%;

}
.send:active {
    opacity: 0.85;
}

#menu_deroulant{
    z-index: 10;
}

#menu_deroulant ul /*on sélectionne la liste entière */
{
    list-style: none;
    margin: 0;
    padding:0;
}
#menu_deroulant ul li /* on sélectionne les en-têtes de notre liste */
{
    margin: 0;
    padding: 0;
    width: 130px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;

}
#menu_deroulant a:hover  /* on sélectionne tous les liens de notre liste (hover = lorsque l'on passe le curseur de la souris sur l'élément) */
{
    background-color: grey;
    opacity: 1;
}

#menu_deroulant a  /* on sélectionne tous les liens de notre liste sans hover */
{
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
}

#menu_deroulant ul li ul li /* on sélectionne les élements des listes */
{
    display: none;
}

#menu_deroulant ul li:hover ul li
{
    display: block;
}

.foot{
    text-decoration: none;
    color:black;
    cursor: pointer;
}