body{
    font-family: Calibri;
    background-color: whitesmoke;
    height: 100%;
}

.Icon{
    height: 6em;
    width: 6em;
    margin-left : 0px;
    border-radius: 10%;
}

#body{
    height: 94vh;
}

header{
    background: #a1cbe6;
    display: flex;
    top : 0px;
    justify-content: space-between ;
    align-items : center;
    z-index: 999;
}

.button2{
    margin-right:10px;
    background: white ;
    color : black;
    font-size: 50px;
    cursor : pointer;
    opacity: 1;
    font-size: 25px;
    padding: 10px;
    border: solid black 1px;
    text-decoration: none;
}

.button2:hover{
    background-color: grey;
}

.foot{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
span{
    text-decoration:  none;
    font-style: normal;
    margin: 1px
}

.presentation{
    font-family: SansSerif;
    font-size: 50px;
    text-align: center;
    background: whitesmoke;
    width: 100%;
}

.corp{
    background: whitesmoke;
    margin-top : 0em;
    display: flex;
    justify-content: center ;
    height: 100%;
}

#gallery{
    display:flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    height:20%;
}

div{
    display: inline;
}

ul, li {
    list-style: none;
    margin-top: 0px;
    margin-left: -20px;
    position: absolute;
}

#main img{
    margin-left: 5px;
    width:430px;
    height: 430px;
}

ul img {
    opacity:0;
    margin:auto;
    -moz-transition:opacity 1s ease-in-out;
    -webkit-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

ul img:target {
    opacity:1;

}

#gallery img{
    width: 100px;
    padding: 5px;
    position: relative;
    z-index: 0;
}

.Articles{
    margin:10px;
    width: 1000px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

footer{
    padding: 5px;
    text-align: center;
    position: marker;
    bottom:0%;
    width : 99%;
    background-color: #a1cbe6;
    margin-top: 10px;
}

#menu_deroulant ul /*on sélectionne la liste entière */
{
    list-style: none;
    margin: 0;
    padding:0;
}
#menu_deroulant ul li /* on sélectionne les en-têtes de notre liste */
{
    margin: 0;
    padding: 0;
    width: 130px;
    height: 40px;
    float: left;

    line-height: 40px;
    text-align: center;

}
#menu_deroulant a:hover  /* on sélectionne tous les liens de notre liste (hover = lorsque l'on passe le curseur de la souris sur l'élément) */
{
    background-color: grey;
    opacity: 1;
    z-index: 9999;
}

#menu_deroulant a  /* on sélectionne tous les liens de notre liste sans hover */
{
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;


}

#menu_deroulant ul li ul li /* on sélectionne les élements des listes */
{
    display: none;
}

#menu_deroulant ul li:hover ul li
{
    display: block;
}