body{
    font-family: Calibri;
    background-color: whitesmoke;
    text-align: center;
    height:100%;
}

footer{
    background-color: #a1cbe6;
    padding: 5px;
    margin-bottom: 0px;
    text-align: center;
    bottom : 0px;
    width : 99%;
    margin-top: 10px;
    position:absolute;
    bottom:0;
}

.Icon{
    height: 6em;
    width: 6em;
    margin-left : 0px;
    border-radius: 10%;
}

img{
    width: 100px;
}

header{
    background: #a1cbe6;
    display: flex;
    top : 0px;
    justify-content: space-between ;
    align-items : center;
    z-index: 999;
}

.button2{
    background: #a1cbe6 ;
    color : black;
    font-size: 50px;
    cursor : pointer;
    opacity: 1;
    font-size: 25px;
    padding: 10px;
    border: solid black 1px;
    margin-right: 10px;
    text-decoration: none;
}

input{
    width: 200px;
    margin-top: 5px;
}

input[type=submit]{
    width:auto;
}

label{
    text-align: justify;
}

label[name=password]{
    margin-left: -14px;
}

label[name=confpassword]{
    margin-left: -97px;
}

label[name=name]{
    margin-left: 43px;
}

label[name=firstname]{
    margin-left: 22px;
}

label[name=address]{
    margin-left: 24px;
}

input[type=text]{
    height:25px;
    margin-top: 7px;
    margin-bottom: 7px;
}

input[type=password]{
    height:25px;
    margin-top: 7px;
    margin-bottom: 7px;
}
input[type=Submit]{
    background-color: #a1cbe6;
}

span{
    text-decoration:  none;
    font-style: normal;
    margin: 1px
}
.foot{
    text-decoration: none;
    color:black;
    cursor: pointer;
}


#menu_deroulant{
    z-index: 10;
}

#menu_deroulant ul /*on sélectionne la liste entière */
{
    list-style: none;
    margin: 0;
    padding:0;
}
#menu_deroulant ul li /* on sélectionne les en-têtes de notre liste */
{
    margin: 0;
    padding: 0;
    width: 130px;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;

}
#menu_deroulant a:hover  /* on sélectionne tous les liens de notre liste (hover = lorsque l'on passe le curseur de la souris sur l'élément) */
{
    background-color: grey;
    opacity: 1;
}

#menu_deroulant a  /* on sélectionne tous les liens de notre liste sans hover */
{
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
}

#menu_deroulant ul li ul li /* on sélectionne les élements des listes */
{
    display: none;
}

#menu_deroulant ul li:hover ul li
{
    display: block;
}

/*CSS*/

label[name=lumiere]{
    margin-left: -110px;
}
label[name=son]{
    margin-left: -110px;
}
label[name=tempe]{
    margin-left: 0px;
}
label[name = freq]{
    margin-left: 10px;
}
input[type=number]{
    height:25px;
    margin-top: 7px;
    margin-bottom: 7px;
}